<div>
  <h2>Login to your account</h2>
  <form>
    <input type="text" title="username" placeholder="username" />
    <input type="text" title="username" placeholder="password" />
    <button type="submit" class="btn">Login</button>
    <a href="#">Sign Up</a>
  </form>
</div>